<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Resposta</title>
    <link href="Aula 9/estilo.css" rel="stylesheet">
</head>
<body>
    <br>
    <h1 class="flex meio" id="titulo">Aula 9</h1>
    <div class="flex coluna-meio">
        <p class="texto">Nome: <%=nome%></p>
        <p class="texto">Usuário: <%=usuario%></p>
        <p class="texto">Senha: <%=senha%></p>
        <p class="texto">Data: <%=data%></p>
        <br>
        <!-- <h3 class="Subtitulo">Exemplo de For:</h3>
        <%for (var i = 1; i <=valor; i++) { %>
            <div class="flex meio">
                <%=i%>
            </div>
        <%}%> -->
    </div>
</body>
</html>